In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('auto-mpg.csv', header=0, engine='python')

In [5]:
df.head()
#mpg는 연비를 나타냄

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [10]:
df.drop(['car_name','horsepower', 'origin'], inplace = True, axis=1) #axis=1은 열을 기준으로 움직이라는 뜻
df.head()

    mpg  cylinders  displacement  weight  acceleration  model_year
0  18.0          8         307.0    3504          12.0          70
1  15.0          8         350.0    3693          11.5          70
2  18.0          8         318.0    3436          11.0          70
3  16.0          8         304.0    3433          12.0          70
4  17.0          8         302.0    3449          10.5          70

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   model_year    398 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 18.8 KB

In [13]:
df.shape

(398, 6)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
Y = df['mpg']
X = df.drop(['mpg'], inplace=False, axis=1)

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [18]:
lr = LinearRegression()

In [19]:
# 선형 회귀 분석: 모델 훈련
lr.fit(X_train, Y_train)

LinearRegression()

In [22]:
Y_predict = lr.predict(X_test)

In [29]:
mse = mean_squared_error(Y_test, Y_predict)
rmse = np.sqrt(mse)

print(f"MSE : {mse:.3f}")
print(f"RMSE : {rmse:.3f}")
print(f"R2_score : {r2_score(Y_test, Y_predict):.3f}")

MSE : 12.278
RMSE : 3.504
R2_score : 0.808

In [31]:
print(f'Y절편 값: {np.round(lr.intercept_,2)}')
print(f'회귀 계수 값: {np.round(lr.coef_,2)}')

Y절편 값: -17.55
회귀 계수 값: [-0.14  0.01 -0.01  0.2   0.76]

In [32]:
coef = pd.Series(data=np.round(lr.coef_,2), index=X.columns)
coef.sort_values(ascending=False) #ascending은 오름차순...!

model_year      0.76
acceleration    0.20
displacement    0.01
weight         -0.01
cylinders      -0.14
dtype: float64